{% extends 'mydiary/base.html' %} {% block content %} {% load static %}
<section class="section contentlist">
<h1> 수정하기 </h1>


<form method="POST" class="post-form" enctype="multipart/form-data">

{% for field in form %}

<div class="form-group">
{% if field.name == 'review'%} 
  <label for="{{ field.id_for_label }}">리뷰</label>
  {{ field.field.widget.name }}

  
  {{field}}
  {% elif field.name == 'star'%}
   <label for="{{ field.id_for_label }}">별점(5점 만점)</label>
  {{ field.field.widget.name }}
  <input type="number" name="star" value="3" required="" id="id_star">
  {% else %}
   <label for="{{ field.id_for_label }}">명대사</label>
  {{ field.field.widget.name }}
 {{field}}
  {% endif %}

</div>

{%endfor%}

<button type="submit" class="btn btn-primary">수정하기</button>

</form>
        
</section>
{%endblock %}