{% extends 'mydiary/base.html' %} {% block content %} {% load static %}
<div class="contentlist">
  <div class="content">
<h1 id="inpuut" >입력</h1>
<form method="POST" class="post-form" enctype="multipart/form-data" style="
  ">
  {% csrf_token %} 
  
    <label class="mt-3" for="title">제목</label>
    <input type="text" class="form-control" name="title" maxlength="200" required="" id="id_title">

    
    <label class="mt-3" for="date">작성자</label>
    <input type="text" class="form-control" name="user" maxlength="200" required="" id="id_user"><label class="mt-3" for="star">별점</label>
    <input type="number" class="form-control" name="star" required="" id="id_star">
    
    
    <label class="mt-3" for="highlight">명대사</label>
    <input type="text" name="highlight" class="form-control"  maxlength="200" required="" id="id_highlight">
    <label class="mt-3" for="review">리뷰</label>
    <textarea name="review" cols="40" rows="10" class="form-control"  required="" id="id_review"></textarea>
    <label class="mt-3" for="review">영화사진</label>
    <input type="file" name="image" accept="image/*" required="" id="id_image">
  <button class="btn btn-primary mt-3" type="submit">저장하기</button>
  
</form>

</div>
</div>
{%endblock %}
